.Bono{
    font-family: 'Bona Nova', serif ;
}
body{
    overflow-x: hidden;
}
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  